<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>ABOUT</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/eminem.jpeg" alt="icon">
    </div>
    {{>footer}}
</body>
</html>