<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>ABOUT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/photo.jpeg" alt="icon">
    </div>
    <div>
        <a href="https://www.facebook.com/vaibhav.raj.174" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/vaibhavraj177" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/vaibhavrajsaxena_20/" target="_blank" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/vaibhav-raj-181242193/" target="_blank" class="fa fa-linkedin"></a>
    </div>
    {{>footer}}
</body>

</html>