<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HELP</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hi, how can we help?</p>
        <div>
            <p>This is my first website. You can search for your weather forecast by going to weather tab. If you have
                any query, you can email us.</p>
        </div>
    </div>
    <p>Contact: 8299780026</p>
    <p>Email: vaibhavrajpianist@gmail.com</p>
    {{>footer}}
</body>

</html>