<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>HELP</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hi, how can we help?</p>
    </div>
    <p>Contact: 8299780026</p>
    <p>Email: vaibhavrajpianist@gmail.com</p>
    {{>footer}}
</body>

</html>