<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>HELP</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is a help page.</p>
    </div>
    {{>footer}}
</body>
</html>